USE [nopCommerce]
GO
/****** Object:  Table [dbo].[SpecificationAttribute]    Script Date: 10/28/2024 1:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecificationAttribute](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[SpecificationAttributeGroupId] [int] NULL,
	[DisplayOrder] [int] NOT NULL,
 CONSTRAINT [PK_SpecificationAttribute] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_SpecificationAttribute_SpecificationAttributeGroupId]    Script Date: 10/28/2024 1:32:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_SpecificationAttribute_SpecificationAttributeGroupId] ON [dbo].[SpecificationAttribute]
(
	[SpecificationAttributeGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SpecificationAttribute]  WITH CHECK ADD  CONSTRAINT [FK_SpecificationAttribute_SpecificationAttributeGroupId_SpecificationAttributeGroup_Id] FOREIGN KEY([SpecificationAttributeGroupId])
REFERENCES [dbo].[SpecificationAttributeGroup] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SpecificationAttribute] CHECK CONSTRAINT [FK_SpecificationAttribute_SpecificationAttributeGroupId_SpecificationAttributeGroup_Id]
GO
